@media(max-width: 900px){
    body{
        background-position-x: 70vw;
    }

    .content{
        align-items: center;
        text-align: center;
    }

    header a {
        position: absolute;
        bottom: 48px;
        
        left: 50%;
        transform: translateX(-50%);
    }
    
    
}

@media(min-width: 1700px){
    body{
    background-position-x: 40vw;
    }
}

@media(max-height: 760px){
    body {
        background-position-y: 200px;
    }
}